<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Lista de Produtos</title>
</head>
<body>

    <div class="container-fluid">
        <div class="text-center">
            <h2>Lista de Produtos</h2>
        </div>
    </div>

    <div class="text-center">
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Produto</th>
              <th scope="col">Valor</th>
              <th scope="col">Categoria</th>
              <th scope="col">Observação</th>
              <th scope="col">Data</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                {% for produto in produtos %}
              <td>{{ produto.produto }}</td>
              <td>{{ produto.valor }}</td>
              <td>{{ produto.categoria }}</td>
              <td>{{ produto.observacoes }}</td>
              <td>{{ produto.data }}</td>
              <td>
                  <a type="button" class="btn btn-primary btn-sm" href="{% url 'url_update' produto.id %}">Editar</a>
                  <a type="button" class="btn btn-danger btn-sm" href="{% url 'url_delete' produto.id %}">Deletar</a>
              </td>
            </tr>
                {% endfor  %}
          </tbody>
        </table>
        <br>
    </div>

    <div class="text-center">
        <a href="{% url 'url_create' %}">
            <button type="button" class="btn btn-primary btn-sm">Cadastrar</button>
        </a>
        <br> <br>
        <a href="{% url 'url_home' %}">
            <button type="button" class="btn btn-secondary btn-sm">Página Inicial</button>
        </a>
    </div>

</body>
</html>
