<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="cima">
            <h2>Welcome!</h2>
            <h4>It is now {{ now }}</h4>
        </div>
    </div>

    <div class="principal">
        <p>
            Neste meu primeiro projeto eu criei com instruções de um curso, um sistema com <strong>CRUD</strong> para listar
            os produtos de um supermercado e colocar neles suas caracteristicas, como preço, observações e ect..
            Então é um sistema simples para ampliar os conhecimentos com o framework django, que fui apresentado na
            fábrica de software na faculdade. Entretando ao decorrer do tempo vou produzindo algo para o sistema
            e vou melhorando o mesmo.
        </p>
        <p>
            Por fim, nesse sistema eu vou criar as transacoes, cada uma dela vai ter suas caracteristicas, por exemplo,
            cada transacao vai ter um produto com um preco com a data que foi postado com sua categoria, enfim, eu vou
            coloca-los em uma lista que pode ser editada ou apagada por qualquer um que tenha acesso ao sistema, por enquanto,
            porque esse é o primeiro projeto entao esse é basicamente para ter a ideia de o que é <strong>crud</strong>, eu posso criar os
            produtos assim como posso le-los e upar e apaga-los. então de primeira essa foi uma boa ideia de iniciar uma
            aplicacao feita em casa mesmo por mim.
        </p>
    </div>

    <div class="secundario">
        <h4>Então, aqui está a definição de crud:</h4>
        <ul>
            {% for transacao in crud %}

                {% if transacao == "Create" %}
                    <li><b>{{ transacao }}</b></li>
                {% else %}
                    <li>{{ transacao }}</li>
                {% endif %}

            {% endfor %}
        </ul>
        <p>
            Abaixo podemos ver um link que levará a listas dos produtos que foram criados, na pagina de lista tem dois
            botoes, um para criar mais um produto e outro para voltar para a pagina inicial.. ainda na pagina lista,
            podemos clicar no produto, para fazer alterações do mesmo, e assim mante-los sempre atualizados. Quando é
            clicado em cada produtos, todos vao estar a mesma coisa so mudando de caracteristicas, porem todos iram ter
            o link de delete, para tira-lo da lista de produtos e assim fechando a paravra crud.
        </p>
    </div>

    <div class="baixo">
        <a href="{% url 'url_lista' %}">
            <button type="button" class="btn btn-secondary btn-sm">Read</button>
        </a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
