<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Lista</title>
    <link rel="stylesheet" type="text/css">
</head>
<body>

    <div class="container-fluid">
        <div style="text-align: center">
            <h2>Lista Produtos</h2>
        </div>
    </div>

    <div style="text-align: center">
        <br>
        {% for transacao in transacoes %}
        <ul>{{ transacao.produto }} - {{ transacao.valor }} - {{ transacao.categoria }} - {{ transacao.observacoes }} - {{ transacao.data }} - <a href="{% url 'url_update' transacao.id %}">Update</a></ul>
        {% endfor  %}
        <br>
    </div>

    <div style="text-align: center;">
        <a href="{% url 'url_nova' %}">
            <button type="button" class="btn btn-secondary btn-sm">Create</button>
        </a>
        <br> <br>
        <a href="{% url 'url_login' %}">
            <button type="button" class="btn btn-secondary btn-sm">Home</button>
        </a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
